@use '../helpers/variables' as *;

.fkdp-calendar {
    * {
        user-select: none;
    }

    background: var(--fkdp-calendar-bg);
    color: var(--fkdp-text);
    border-radius: 6px;
    padding: 0.5rem;
    position: absolute;
    inset-inline-start: 0;
    z-index: 1000;
    margin-top: 0.25rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 0.5rem;
        width: 100%;
        padding-bottom: 10px;
        border-bottom: var(--fkdp-secondary) 1px solid;
    }

    &__container {
        display: flex;
    }

    &__btn {
        background: transparent;
        border: none;
        padding: 6px 10px;
        border-radius: 50%;
        font-size: 16px;
        cursor: pointer;
        transition: scale 0.2s ease-in-out;
        color: var(--fkdp-text);

        // &:hover {
        //     // background: #e0e0e0;
        // }

        &:active {
            // background: #d0d0d0;
            scale: 0.95;
            // transform: scale(0.95);
        }

        &--disabled {
            color: var(--fkdp-secondary);
            cursor: not-allowed;
        }
    }

    &__footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding-top: 7px;
        margin-top: 7px;
        border-top: 1px solid var(--fkdp-secondary);
        
        &:not(:has(.fkdp-calendar__go-to-today)) {
            justify-content: flex-end;
        }

        &--actions {
            display: flex;
            column-gap: 5px;
        }
        
        &--action {
            border: none;
            cursor: pointer;
            border-radius: 5px;
            padding: 6px 8px;
            min-width: 50px;

            &-ok {
                background-color: var(--fkdp-primary);
                color: var(--fkdp-light-text);
            }

            // &-cancel {
            //     // background-color: #ccc;
            // }
        }

        .fkdp-calendar__go-to-today {
            background-color: var(--fkdp-calendar-bg);
            color: var(--fkdp-text);
            border: none;
            cursor: pointer;
            border-radius: 5px;
            padding: 4px 5px;
        }
    }

    &__woth-week-nums {
        .fkdp-calendar__grid-months {
            grid-template-columns: repeat(4, 4.15rem);
        }

        .fkdp-calendar__grid-years {
            grid-template-columns: repeat(4, 4.15rem);
        }
    }

    &__divider {
        margin-inline: 5px;
        width: 1px;
        background-color: var(--fkdp-secondary);
    }

    &__time {
        display: flex;
        gap: 8px;
        margin-inline: 5px;
        position: relative;
        direction: ltr !important;

        &-header {
            display: flex;
            position: absolute;
            width: 100%;
            background-color: var(--fkdp-calendar-bg);
            
            .fkdp-calendar__time-item {
                color: var(--fkdp-text);
                opacity: 1;
                z-index: 99;
            }
        }

        &-col {
            -ms-overflow-style: none;
            overflow-y: auto;
            scroll-snap-type: y mandatory;
            // border: 1px solid #ddd;
            // border-radius: 6px;
            // background: var(--fkdp-calendar-bg);

            &::-webkit-scrollbar {
                display: none;
            }

            &:not(:first-child):not(:last-child)::after {
                content: ':';
                position: absolute;
                top: 50%;
                transform: translateY(-75%);
                margin-inline-start: -6.5px;
            }
        }

        &-item {
            padding: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            scroll-snap-align: center;
            font-size: 16px;
            cursor: pointer;
            opacity: 0.6;
            border-radius: 5px;
            transition: opacity 0.2s, font-weight 0.2s;
            background-color: var(--fkdp-calendar-bg);
            border: none;
            color: var(--fkdp-text);

            &--selected {
                font-weight: bold;
                opacity: 1;
                background-color: var(--fkdp-primary);
                color: var(--fkdp-light-text);

                // & ~ * {

                //     // &:nth-child() {}
                //     // background: #000;
                // }
            }

            &--disabled {
                cursor: not-allowed;
                opacity: 0.2 !important;
            }
        }

        &__spacer {
            pointer-events: none;
        }
    }

    &__grid {
        display: grid;
        gap: 0.15rem;

        &-days {
            grid-template-columns: repeat(7, 2rem);

            .fkdp-calendar__cell {
                border-radius: 50%;
            }
        }

        &-weekdays {
            grid-template-columns: repeat(7, 2rem);

            .fkdp-calendar__cell {
                border-radius: 50%;
            }
        }

        &-with-weeknum {
            grid-template-columns: repeat(8, 2rem);
        }

        &-months {
            grid-template-columns: repeat(4, 3.61rem);
            align-items: center;

            .fkdp-calendar__cell {
                border-radius: 10px !important;
                height: fit-content;
            }
        }

        &-years {
            grid-template-columns: repeat(4, 3.61rem);
            align-items: center;

            .fkdp-calendar__cell {
                border-radius: 10px !important;
                height: fit-content;
            }
        }

        &-time {
            grid-template-columns: repeat(4, 2rem);

            .fkdp-calendar__cell {
                border-radius: 10px !important;
            }
        }
    }

    &__cell {
        min-width: 2rem;
        min-height: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        border-radius: 4px;
        background: none;
        border: none;
        position: relative;
        color: var(--fkdp-text);

        &--weekday {
            text-align: center;
            font-weight: 600;
            font-size: 14px;
            margin-bottom: 4px;
            color: #666;
            padding: 4px 0;
            cursor: default;
        }

        &--weeknum {
            text-align: center;
            font-weight: 600;
            font-size: 14px;
            color: #666;
            cursor: default;

            &::after {
                content: '|';
                position: absolute;
                inset-inline-end: 0;
                margin-bottom: 3px;
            }
        }

        &--today {
            border: 1px solid var(--fkdp-primary);
            font-weight: bold;
        }

        &--focused {
            outline: 2px solid var(--fkdp-primary);
        }

        &--holiday {
            background-color: var(--fkdp-calendar-holiday-bg);
        }

        &--highlighted {
            background: var(--fkdp-calendar-highlighted-bg);
        }

        &--outside {
            opacity: 0.6;
            cursor: default;

            &:is(button) {
                cursor: pointer;
            }
        }

        &--selected {
            background: var(--fkdp-primary);
            color: var(--fkdp-light-text);
        }

        &--disabled {
            cursor: not-allowed;
            opacity: 0.4;
        }
    }
}